<h1>Daffron: Work Summary <%= @from_ymd.strftime('%y/%m/%d') %> to <%= (@to_ymd-1).strftime('%y/%m/%d') %> </h1>
<table>
  <tr>
    <th>Request</th>
    <th>Work Date</th>
    <th>Description</th>
    <th>Entered date</th>
    <th>Entered time</th>
    <th>From</th>
    <th>To</th>
    <th>Minutes</th>
    <th>Hours</th>
  </tr>

<% @csp_times.each do |time| %>
  <tr>
    <td><%= time.tireq %></td>
    <td><%= time.tidate.strftime('%m/%d/%y') %></td>
    <td><%= time.tidesc %></td>
    <td><%= time.tiendt.strftime('%m/%d/%y') %></td>
    <td><%= time.tientm %></td>
    <td><%= time.titmfr %></td>
    <td><%= time.titmto %></td>
    <%
      fromMinutes = time.titmfr.to_i() * 60
      fromMinutes += (time.titmfr - time.titmfr.to_i()) * 100 
      toMinutes = time.titmto.to_i * 60
      toMinutes += (time.titmto - time.titmto.to_i()) * 100 
    %>
    <td><%= toMinutes - fromMinutes %></td>
    <td><%= ((toMinutes - fromMinutes)  / 60	) %></td>
  </tr>
<% end %>
</table>
